body {
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
    background-color: #432E54;
}

.container {
    color: #E8BCB9;
    border: 1px;
    border-style: solid;
    border-radius: 7px;
}

h3 {
    margin-top: 10px;
    padding: 20px;
}

#input-number, #submit-number {
    background-color: #4B4376;
    color: #E8BCB9;
}

#submit-number:hover {
    background-color: #E8BCB9;
    color: #313131;
}

#hint {
    color: #AE445A;
    background-color: #E8BCB9;
    border: 10px;
    padding: 4px;
}